.example-form-field{
    width: 100%;
    font-size: 20px;
}

img{
    width: 70%;
    margin: 5% 15%;
}

.example-card {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5%;
}

.letras-invalido{
    color: red;
    font-family: "Monaco", monospace;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 2%;
}

mat-card{
    background-color: rgba(217, 254, 158, 0.25);
}
.mat-raised-button{
    width: 100%;
    font-size: 20px;
    margin-top: 0px;
    background-color: #465759;
}
.textoCheck{
    color: black;
    font-weight: bold;
    font-size: 19px;
}

.textoUncheck{
    color: grey;
    font-size: 16px;
}

mat-slide-toggle{
    margin-right: 10px;
    margin-left: 10px;
}

.img-white{
    width: 8%;
    margin: 3% 2%;
    filter: invert(100%);
}

.img-black{
    width: 8%;
    margin: 3% 2%;
    filter: invert(60%);
}