<div class="container">

  <div class="row">
    <button mat-raised-button color="primary" routerLink="/tienda/nuevaOperacion/deposito">
      <div class="cont-img-txt">
          <img src="assets/archivo-nuevo.png">
          NUEVA OPERACI&Oacute;N
      </div>
    </button>
  </div>
  <div class="row">
    <button mat-raised-button color="primary" routerLink="/tienda/pendientes">

      <div class="cont-img-txt">
        <img src="assets/pendiente.png">
        OPERACIONES PENDIENTES
      </div>
    </button>
  </div>
  <div class="row">
    <button mat-raised-button color="primary" routerLink="/tienda/balance">
      <div class="cont-img-txt">
        <img src="assets/reporte.png">
        REPORTE DIARIO
      </div>
    </button>
  </div>
  <div class="row">
    <button mat-raised-button color="primary" routerLink="/tienda/datos/depositos">
      <div class="cont-img-txt">
        <img src="assets/tablero.png">
        HISTORIAL DE DATOS
      </div>
    </button>
  </div>

</div>
