<div class="container">


    <div class="row">
        <div class="col-md-2" *ngIf="!inCredito" >
            <button mat-raised-button color="primary" routerLink="./creditos" (click)="irCreditos()">
                <div class="cont-img-txt">
                    CR&Eacute;DITOS
                </div>
            </button>
        </div>
        <div class="col-md-2" *ngIf="!inCuenta" >
            <button mat-raised-button color="primary" routerLink="./cuentas" (click)="irCuentas()">
                <div class="cont-img-txt">
                    CUENTAS
                </div>
            </button>
        </div>
        <div class="col-md-2" *ngIf="!inDeposito" >
            <button mat-raised-button color="primary" routerLink="./depositos" (click)="irDepositos()">
                <div class="cont-img-txt">
                    DEPOSITOS
                </div>
            </button>
        </div>
        <div class="col-md-2" *ngIf="!inDeuda" >
            <button mat-raised-button color="primary" routerLink="./deudas" (click)="irDeudas()">
                <div class="cont-img-txt">
                    DEUDAS
                </div>
            </button>
        </div>
        <div class="col-md-2" *ngIf="!inPagoCredito" >
            <button mat-raised-button color="primary" routerLink="./pagos-credito" (click)="irPagoCredito()">
                <div class="cont-img-txt">
                    PAGO CR&Eacute;DITO
                </div>
            </button>
        </div>
        <div class="col-md-2" *ngIf="!inPagoServicio">
            <button mat-raised-button color="primary" routerLink="./pagos-servicio" (click)="irPagoServicio()">
                <div class="cont-img-txt">
                    PAGO SERVICIO
                </div>
            </button>
        </div>
        <div class="col-md-2" *ngIf="!inServicio">
            <button mat-raised-button color="primary" routerLink="./servicios" (click)="irServicios()">
                <div class="cont-img-txt">
                    SERVICIOS
                </div>
            </button>
        </div>

    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>